body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  width: 300px;
  height: 580px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  column-count: 2;
}

#movies{
  column-count: 2;
}

.detailsButton{
  height: 40px;
  width: 120px;
}

button{
  height: 40px;
  width: 120px;
  text-align: center;
}

input{
  height: 39px;
  width: 80%;
  margin-bottom: 200px;
}

h2{
  float: left;
  color: grey;
  text-indent: 0;
}

p{
  text-align: left;
}

#imagePoster{
  float: left;
}

#details{
  column-count: 2;
  column-gap: 0;
}

#name{
  float: left;
  font-weight: 500;
  margin-right: 5px;
}











